apiVersion: v1
kind: Pod
metadata:
  name: {{ include "tetrate-pre-check-tool.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "tetrate-pre-check-tool.labels" . | nindent 4 }}
spec:
  serviceAccountName: {{ include "tetrate-pre-check-tool.serviceAccountName" . }}
  restartPolicy: Never
  containers:
  - name: pre-check
    image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
    imagePullPolicy: {{ .Values.image.pullPolicy }}
    command: ["/bin/sh"]
    args: ["-c", "/scripts/run-precheck.sh"]
    resources:
      {{- toYaml .Values.resources | nindent 6 }}
    volumeMounts:
    - name: scripts
      mountPath: /scripts
    - name: output
      mountPath: /output
    env:
    - name: ISTIOCTL_VERSION
      value: {{ .Values.istioctlVersion | quote }}
  volumes:
  - name: scripts
    configMap:
      name: {{ include "tetrate-pre-check-tool.fullname" . }}-scripts
      defaultMode: 0755
  - name: output
    emptyDir: {}